body {
  background-color: rgb(4, 21, 45);
}

.navbar {
  position: absolute;
  top: 0px;
  z-index: 10;
  width: 100%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

@media screen and (max-width: 1400px) {
  .form-control {
    width: 440px;
  }
}
@media screen and (max-width: 1300px) {
  .form-control {
    width: 300px;
  }
}

@media screen And (max-width: 1400px) {
  .nav-link {
    font-size: 20px;
  }
}
@media screen And (max-width: 1200px) {
  .nav-link {
    font-size: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .navbar-collapse {
    background: rgb(0, 0, 0);
  }
}

@media only screen and (max-width: 768px) {
  .searchBox {
    margin-top: 190px;
  }
}
@media only screen and (max-width: 768px) {
  .card3 {
    width: 350px;
    height: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .card3 .card-body {
    font-size: small;
    color: black;
  }
}

.carousel-item img {
  width: 100%;
  height: 620px;

  object-fit: cover;
  object-position: 50% 50%;
}

.carousel-slide {
  height: 100px;
  width: 100%;
}

.title {
  position: absolute;
  bottom: 40px;
  left: 55px;
  color: #fff;
}
.card {
  padding: 0;
  width: 16rem;
  height: 440px;
}
@media only screen and (max-width: 768px) {
  .card {
    width: 12rem;
  }
}

.footer {
  display: inline flex;
}
.futer {
  background-color: rgb(2, 12, 27);
  color: #fff;
  bottom: 0%;
  padding-bottom: 30px;
}

.icons {
  display: inline flex;
}

.img {
  width: 100%;
  height: 650px;

  -webkit-filter: blur(4px);
}

.card1 {
  opacity: 1;
  max-width: 740px;
  position: absolute;
  top: 180px;
  z-index: 10;
  align-items: center;
  float: left;
  margin-left: 150px;
}

.cast {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: inline-block;
  padding-left: 5px;
}
.castName {
  color: #fff;
  text-align: center;
}

.heading {
  display: inline-flex;
}
.card2 {
  display: inline-flex;
  margin-top: 30px;
  margin-left: 23px;
}

@media screen and (max-width: 600px) {
  .cards {
    margin-left: 14%;
    margin-right: 22%;
    width: auto;
  }
}

.button {
  display: flex;
  justify-content: end;
  align-items: end;
}
.cardbody {
  padding-left: 10px;
  color: #fff;
  font-size: 18px;
}
@media screen and (max-width: 992px) {
  .card1 img {
    display: none;
  }
}
.vertical-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50);
}
.vertical {
  height: 200px;
  position: relative;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  display: flex;
  justify-content: end;
  align-items: end;
}
.youtube {
  position: absolute;
  top: 0px;
}

/* @media only screen and (max-width: 768px) {
  iframe {
    margin-left: 0%;
    width: 300px;
    align-items: center;
  }
} */

.close {
  margin-left: 98%;
  height: 2px;
  width: 2px;
}

.searchBox {
  position: absolute;
  color: #fff;
  top: 80px;
  right: 23%;
  font-size: 18px;

  background-color: rgb(4, 21, 45);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.card3 {
  width: 350px;
  height: 100px;
}

.card3 img {
  height: 100px;
  width: 130px;
}

.load {
  color: #fff;
  font-family: Sans-serif;
  margin-left: 35%;
  /* padding-bottom: 2px; */
}
@media only screen and (max-width: 768px) {
  .load {
    margin-top: 5px;
  }
}
iframe {
  height: 450px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .modal-content {
    width: 400px;
    margin-top: 100px;
    height: 300px;
    margin-left: 7%;
  }
}

/* .shiw {
  margin-top: 10px;
  color: #fff;
} */
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-top: 100px;
  margin-left: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
